<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> World Wines </a>
    <div class="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" href="#"> Search Wines </a>
        <a class="nav-link" href="#"> Write a Review </a>
        <a class="nav-link" href="tasters"> Tasters</a>
      </div>
    </div>
  </nav>
</header>
;
